
<h1 class="bg-primary text-white p-3">
  Custom Pipes
</h1>




<div class="container">

  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card">

      </div>
      <div class="card-header">

      </div>
      <div class="card-body">

      </div>
    </div>
  </div> -->

  
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <input type="text" class="form-control" placeholder="Search Team..." [(ngModel)]="searchInput">
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-12">

      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Player Name</th>
            <th>Team</th>
            <th>Role</th>
            <th>Total Runs</th>
            <th>Total Wickets</th>
            <th>Matches Played</th>
          </tr>
        </thead>

       
        <tbody>
          <!-- | searchfilter : searchInput -->
          <tr *ngFor="let p of playerArray  | filter : searchInput, index as i">
            <td>{{i + 1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.country}}</td>
            <td>{{p.role}}</td>
            <td>{{p.totalRuns}}</td>
            <td>{{p.totalWickets}}</td>
            <td>{{p.matchesPlayed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>